# Tarea 1 Bases de Datos 2022-2 Grupo XX

_Recuerde modificar esta celda y la siguiente! (Borre esta línea también)._

## Integrantes:
* Nombre Integrante 1 - Rol-1
* Nombre Integrante 2 - Rol-2
* Nombre Integrante 3 - Rol-3

## Requisitos para Correr el Notebook

Para poder utilizar este Notebook se debe tener instalado:
- **Python 3**
- **Jupyter**
- La librería **ipython-sql** (Poder ejecutar sql en Jupyter Notebook)
- ToolKit **sqlalchemy**
- PostgreSQL y su conector desde Python(**psycopg2**)

**IMPORTANTE:** Este Jupyter Notebook se conectará a su servicio de Base de Datos PostgreSQL de manera **local**, por lo que **no funcionará correctamente en el entorno Google Collab.**

Para instalar las dependencias, ejecute (**recuerde actualizar pip3**):

In [ ]:
! pip3 install ipython-sql
! pip3 install sqlalchemy
! pip3 install psycopg2

#Use to generate names
! pip3 install names

## Importar dependencias

In [ ]:
from datetime import datetime
import random as r
import names
import string

#Librerías para PostgreSQL
import psycopg2

Para conectarse a la base de datos, completen los datos relevantes en la variable DATABASE_URL.

* Cambie `user` por el usuario que utilizó en Postgres para acceder a la Base de Datos. Por defecto `postgres`.
* Cambie `password` por la contraseña de dicho usuario. **Recuerde borrarla antes de entregar su tarea.**
* Cambie `port` por el puerto en que se ejecuta su servicio de Base de Datos. Por defecto `5432`.
* Cambie `database` por el nombre de la BD (Schema) que creó en Postgres.

Ejemplo: `postgresql://postgres:pass_segura@localhost:5432/tarea-bd`

In [ ]:
%reload_ext sql
%env DATABASE_URL=postgresql://postgres:password@localhost:5432/database

Para conectarse de forma declarativa a la Base de Datos, utilice el siguiente código:

In [ ]:
#Recuerde cambiar los valores de USER, DBNAME y PASSWORD por los mismos de la celda superior.
connection = psycopg2.connect(
   host="localhost",
   user="postgres",
   dbname='database',
   password="password"
)

print(connection)
cursor = connection.cursor()

## Crear tablas

Aquí inserta el código SQL que creara las tablas de la base de datos:

### Tabla "Administradores"

In [ ]:
%%sql

### Tabla "Usuarios"

In [ ]:
%%sql

### Tabla "Post"

In [ ]:
%%sql

### Tabla "Hashtags"

In [ ]:
%%sql

### Tabla "Usuario_sigue_a_usuario"

In [ ]:
%%sql

### Tabla "Post_tiene_hashtag"

In [ ]:
%%sql

## Código Generador de Datos

Ejecute este código para cargar datos a las tablas creadas.

PD: Si el codigo tira error por "violar la unicidad de las PK" es por una coincidencia de numeros random, solamente volver a ejecutar el codigo

In [ ]:
#Recuerde haber ejecutado todas las celdas anteriores!

# Generador de timestamp aleatorio.
def generate_timestamp():
    year = r.randint(2015,2022)
    month = r.randint(1,12)
    day = r.randint(1,31)
    
    hour = r.randint(0,23)
    minute = r.randint(0,59)
    second = r.randint(0,59)
    
    if month in [4, 6, 9, 11] and day > 30:
        day = 30
        
    if month == 2 and day > 28:
        day = 28
        
    return datetime(year, month, day, hour, minute, second)

def generate_password():
    return ''.join(r.choice(string.ascii_uppercase + string.digits) for x in range(15))

def generate_text():
    text = []
    
    initial = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin egestas eleifend nisl. Morbi volutpat dictum elit, sit amet blandit magna aliquet eu. Donec dapibus eros vel massa ornare sagittis. Donec vehicula tortor vitae aliquam ullamcorper. Cras a pellentesque sem, vitae semper est. Sed mollis pretium quam, vel fermentum nunc condimentum at. Donec in nisi lacus. Curabitur sed viverra purus, et dignissim elit. In dictum hendrerit rutrum. Nulla rutrum pellentesque arcu. Praesent bibendum vehicula orci, id sodales ex laoreet vel. Sed sed imperdiet tellus."
    words = initial.split(" ")
    
    while len(text) <= 12:
        text.append(words[r.choice(range(0, len(words)))])
    
    return " ".join(text)

print("Borrando Datos Antiguos...")

# Limpia la base de datos.
connection.commit() # En caso de algun error
query = 'TRUNCATE TABLE "Administradores", "Usuarios", "Post", "Hashtags", "Usuario_sigue_a_usuario", "Post_tiene_hashtag"  RESTART IDENTITY'
cursor.execute(query)
connection.commit()

print("Generando Datos...")

top_level_domain = [".cl", ".com", ".me", ".dev", ".info", ".io"]
hashtags = ["Valparaiso", "Bandera", "BasesDeDatos", "Pythonia", "PreuApp", "FDSW", "Messirve", "Chile", "Informática", "RickAstley"]

n_administradores = 10
n_usuarios = 50
n_hashtags = len(hashtags)
n_posts = 200
n_posts_tiene_hashtag = 500
n_usuario_sigue_a_usuario = 100

# Genera administradores.
administradores = []
for _ in range(1, n_administradores+1):
    nombre = names.get_first_name()
    apellido = names.get_last_name()
    usuario= nombre.lower() + "." + apellido[:4].lower()
    administradores.append((usuario, nombre + " " + apellido, generate_timestamp()))

# Genera Usuarios.
usuarios = []
for _ in range(1, n_usuarios+1):    
    nombre = names.get_first_name()
    apellido = names.get_last_name()
    usuario= nombre.lower() + "_" + apellido[:4].lower()
    pagina_web = r.choice(["https://www." + nombre.lower() + apellido.lower() + r.choice(top_level_domain), None])
    url_foto = "assets/" + usuario + ".png"
    verificado = r.choice([True, False])
    verificado_por =  r.choice(range(1, n_administradores+1)) if verificado else None
    usuarios.append((usuario, generate_password(), pagina_web, url_foto, verificado, verificado_por))

# Genera posts.
posts = []
for _ in range(1, n_posts+1):
    posts.append((generate_text(), generate_timestamp(), r.choice(range(1, n_usuarios+1)), r.choice(range(0, 1000)), r.choice(range(0, 100))))

# Generate Post_tiene_hashtag.
posts_tiene_hashtag = set([(r.choice(range(1, n_posts+1)), r.choice(range(1, n_hashtags+1))) for _ in range(1, n_posts_tiene_hashtag+1)])

# Generate Usuario_sigue_a_usuario.
usuario_sigue_a_usuario = set([(r.choice(range(1, n_usuarios+1)), r.choice(range(1, n_usuarios+1))) for _ in range(1, n_usuario_sigue_a_usuario+1)])
    

# SQL Statements.
inserts = [
    'INSERT INTO "Administradores" (usuario, nombre, fecha_ingreso) VALUES (%s, %s, %s);',
    'INSERT INTO "Usuarios" (usuario, password, pagina_web, url_foto, verificado, verificado_por) VALUES (%s, %s, %s, %s, %s, %s);',
    'INSERT INTO "Hashtags" (texto_hashtag) VALUES (%s);',
    'INSERT INTO "Post" (mensaje, fecha_envio, id_usuario_emisor, cant_likes, cant_repost) VALUES (%s, %s, %s, %s, %s);',
    'INSERT INTO "Post_tiene_hashtag" (id_post, id_hashtag) VALUES (%s, %s);',
    'INSERT INTO "Usuario_sigue_a_usuario" (id_usuario, sigue_a_id_usuario) VALUES (%s, %s);'
]

for admin in administradores:
    cursor.execute(inserts[0], admin)

for usuario in usuarios:
    cursor.execute(inserts[1], usuario)
    
for hashtag in hashtags:
    cursor.execute(inserts[2], (hashtag,))
    
for post in posts:
    cursor.execute(inserts[3], post)

for pth in posts_tiene_hashtag:
    cursor.execute(inserts[4], pth)
    
for usu in usuario_sigue_a_usuario:
    cursor.execute(inserts[5], usu)
    
connection.commit()

print("Todo Listo!")

## Consultas

Escriba aquí las consultas pedidas. Recuerde **agregar una descripción _breve_** de cómo funciona la solución. **Escriba las consultas de forma ordenada.**

**NOTA:** Cuando en una consulta diga "X cosa" significa que ustedes deben de elegir ese X por lo que para cualquier otro X debe de funcionar de igual forma.

### Consulta 1
**Cantidad total de usuarios Verificados**

Ejemplo:

|Usuarios Verificados|  
|---|
| 11 |

**Solución:** _Escriba aquí la descripción de su solución._

In [ ]:
%%sql

/* Reemplace estas queries por las que resuelven las consultas pedidas. */

%%sql
SELECT
    * 
FROM 
    Usuarios
WHERE
    usuario = 'Elon Tusk';

### Consulta 2
**El 'nombre' y 'usuario' del Administrador más actual hasta una fecha X.**

Ejemplo:


| Nombre     | Usuario |
|--------------|----------|
| Elon Tusk |    E_Tesla_77     |

**Solución:** _Escriba aquí la descripción de su solución._

In [ ]:
%%sql
SELECT
    * 
FROM 
    Usuarios
WHERE
    usuario = 'Elon Tusk';

### Consulta 3
**El 'texto' de todos los post que tengan el hashtag X (texto del hashtag, no id)** (el hashtag puede no estar dentro del texto, pero si existir la relación)

Ejemplo:

| Post  | 
|----------------|
| Habia una vez un caballero de polera azul que ...|
|...|

**Solución:** _Escriba aquí la descripción de su solución._

In [ ]:
%%sql
SELECT
    * 
FROM 
    Usuarios
WHERE
    usuario = 'Elon Tusk';

### Consulta 4

**Top 3 Hastags más usados.**

Ejemplo:

|Texto Hastag |  
|---|
| SNKFinalSeason |
|Usar Bloqueador|
|SeVieneel18|

In [ ]:
%%sql
SELECT
    * 
FROM 
    Usuarios
WHERE

    usuario = 'Elon Tusk';

### Consulta 5
**El 'usuario' de todas las personas que sigan a un usuario X**

Ejemplo:

|  Usuario  | 
|--------|
| Jaimito_TrolXX2 |
|The_Titan9|
|...|

**Solución:** _Escriba aquí la descripción de su solución._

In [ ]:
%%sql
SELECT
    * 
FROM 
    Usuarios
WHERE
    usuario = 'Elon Tusk';

### Consulta 6
**La 'ID' y el 'usuario emisor' del top 10 post con más likes emitidos por usuarios verificados**

Ejemplo:

| ID Post     | IUsuario |
|----------------|--------|
| 668 | E_Tesla_77 |
|12| Jaimito_TrolXX2|
|...|...|

**Solución:** _Escriba aquí la descripción de su solución._

In [ ]:
%%sql
SELECT
    * 
FROM 
    Usuarios
WHERE
    usuario = 'Elon Tusk';

### Consulta 7
**La 'id', la 'fecha de emisión' y el 'texto' de todos los Post creados entre dos fechas a elección que estén relacionados con a lo menos 2 hastags**

Ejemplo:

|ID | Fecha | Texto | 
|--------|-|-|
|661 | 06-12-2022| Una vez un pinguino con forma de delfin...|
|332 | 23-11-2019| La filosofia de los fideos define la forma del ser human...|
|33 | 15-03-2021| Por eso es que la gente deberia de...|
|...|...|...|

**Solución:** _Escriba aquí la descripción de su solución._

In [ ]:
%%sql
SELECT
    * 
FROM 
    Usuarios
WHERE
    usuario = 'Elon Tusk';

### Consulta 8
**El 'usuario' que sigue a más usuarios verificados por un administador X.**

Ejemplo:

|Usuario |
|-|
|Elon Tusk|


**Solución:** _Escriba aquí la descripción de su solución._

In [ ]:
%%sql
SELECT
    * 
FROM 
    Usuarios
WHERE
    usuario = 'Elon Tusk';

### Consulta 9 
**El 'usuario' y la suma total de likes de todos los post emitidos por el usuario con más seguidores**

Ejemplo:
   
|Usuario | Cantidad de Likes|
|-|-|
| Elon Tusk| 66199 |

**Solución:** _Escriba aquí la descripción de su solución._

In [ ]:
%%sql
SELECT
    * 
FROM 
    Usuarios
WHERE
    usuario = 'Elon Tusk';

### Consulta 10  
**El 'nombre' del administrador cuyos usuarios verificados han hecho más post**

Ejemplo:
   
|Nombre |
|-|
| Pedro Pascual |

**Solución:** _Escriba aquí la descripción de su solución._

In [ ]:
%%sql
SELECT
    * 
FROM 
    Usuarios
WHERE
    usuario = 'Elon Tusk';